<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Hotel Zafiro 504</h5>
        <p>El mejor lugar para disfrutar de su estadía en Honduras.</p>
      </div>
      <div class="col-md-4">
        <h5>Contacto</h5>
        <p>
          <i class="fas fa-map-marker-alt"></i> Dirección: Calle Principal, Tegucigalpa<br>
          <i class="fas fa-phone"></i> Teléfono: +504 2222-3333<br>
          <i class="fas fa-envelope"></i> Email: info@hotelzafiro504.com
        </p>
      </div>
      <div class="col-md-4">
        <h5>Síguenos</h5>
        <div class="social-icons">
          <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; <%= new Date().getFullYear() %> Hotel Zafiro 504. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>

